<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Regression Test" verbose="2" parallel="tests" thread-count ="2">


	<test name="Amazon Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url" value="https://www.amazon.in" />
		<classes>
			<class name="testngsession.AmazonTest" />
		</classes>

	</test>

	<test name="Google Test">
		<parameter name="browser" value="firefox" />
		<parameter name="url" value="https://www.Google.co.in/" />
		<classes>
			<class name="testngsession.GoogleTest" />
		</classes>

	</test>

	<test name="Rediff Mail Test">
		<parameter name="browser" value="chrome" />
		<parameter name="url"
			value="https://mail.rediff.com/cgi-bin/login.cgi" />

		<classes>
			<class name="testngsession.RediffMailTest" />
		</classes>

	</test>


</suite>